* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

html {
	font-size: 62.5%;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Space Mono', monospace;
	font-size: 1.6rem;
	background-color: $lightGrayishCyan;
}

.work-title {
	position: relative;
	top: -200px;
}

.title {
	color: $darkGrayishCyan;
	letter-spacing: -0.5px;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	min-width: 375px;
	max-width: 850px;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: $white;

	.options {
		&__bill {
			margin-bottom: 2em;

			&-input {
				text-align: right;
				padding: 0.5em;
				font-size: 2.4rem;
				font-weight: bold;
				color: $veryDarkCyan;
				width: 100%;
				background-color: $veryLightGrayishCyan;
				border: none;
			}
		}

		&__tip {
			display: flex;
			flex-direction: column;
			margin-bottom: 2em;

			&-div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				width: 100%;

				&-value, &-input {
                    font-family: 'Space Mono', monospace;
					width: 6em;
					margin: 0.5em 0.5em 0.5em 0;
                    padding: 0.3em 0;
                    border-radius: 5px;
					border: none;
					cursor: pointer;
					background-color: $veryDarkCyan;
					color: $white;
                    font-size: 2.4rem;
				}

                &-input {
                    text-align: right;
                    background-color: $veryLightGrayishCyan;
                }
			}
		}
	}
}
